*{
  align-items: center;
  text-align: center;
}
.head{ 
  background-image: url(../img/backgrounds/h_img\ .jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17%;
}
.toptext{
  text-align:center;
  color:white; 
}
.head img:first-child{
  margin-bottom: 12%;
}
.head h1:first-of-type{
  margin-bottom: 7%;
}



#aboutus h2{
  font-size: 50px;
  text-align: center;
  margin-top: 2%;
}
p{
  font-size: 17px;
}

#services{
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-image: url("../img/backgrounds/s_image.jpg");
}

#services h3{
  font-size: 50px;
  color: white;
  padding: 6%;
}


#services p{
  color: white;
  font-size: 22px;
}
.icons h2{
  font-size: 10px;
  margin-top: 3.5%;
}

#p-design{
  display: none;
}
#p-development{
  display: none;
}
#p-product{
  display: none;
}
#submit{
  text-align: center;
}
#footer{
  text-align: center;
  padding: 5vh;
}

.contacts{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-image: url("../img/backgrounds/c_image.jpg");
}
.contacts h1{
  font-weight: bold;
  color:white;
  margin-top: 5%;

}
#text {
width: 160px;
height: 160px;
background-color: #ffffff;
border-radius: 15px;
z-index: 1;
opacity: 0.2;
position: absolute;
top: 2em;
left: 3em;
display: none;
color: white;
font-size: 28px;
}
.text{
  text-align: center;
  display:none;
  margin: -50% 25%;
  color: white;
}

::placeholder {
  color: white;
}

#form-for-user {
  width: 60%;
  margin: auto;
}



input,textarea {
color: white;
}
#Name,
#Email,
#Message {
  color: white;
  background-color: #ffffff;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer {
align-items: center;
justify-content: center;
text-align: center;
}
.container-2{
  text-align: center;
}

.col-md-3{
  width: 100px;
  margin-top: 10px;
}

/* Hover Box Comes Here */


.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox_background {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
.hvrbox .hvrbox-layer_image {
  padding: 0;
  background: none;
}


.hvrbox .hvrbox-layer_slideleft {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.hvrbox:hover .hvrbox-layer_slideleft,
.hvrbox.active .hvrbox-layer_slideleft {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hvrbox .hvrbox-layer_scale {
  border-radius: 50%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.hvrbox:hover .hvrbox-layer_scale,
.hvrbox.active .hvrbox-layer_scale {
  border-radius: 0%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}







